.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fh{
  height:100vh;
  z-index: -1;
}
.header{
  z-index:1;
  display:flex;
  position: relative;
}
.nav-item{
  display:inline-block;
 
}
.nav{
  display:none;
  
}
.helpText{
  color:rgb(78, 70, 70);
  font-weight: 600;
  padding:20px;
 
}
.helpTexta{
  padding-left:20px;
  background-color: #2020228e
}
.helpText a{
  color:rgb(78, 70, 70);
  font-weight: 600;
  text-decoration: underline
}
/* h4{text-decoration: underline} */
.card-bod {
  padding:10px
}
.list-group{
  padding: 2px
} .list-group-item{
  background: transparent;
  border: none ;text-align: right;
}
.list-group-item:hover{
  background: transparent;
  color: #61dafb
}

.postData{
  transition:all .2s linear;
}
.hidden{animation: 500ms;
  transition:all .3s linear;
  overflow: hidden;
  padding: 5px;
  background-color: none;
  height: 0;
  border:none;
}
/* @keyframes */

.postData:hover .hidden{
  /* background-color: #61dafb; */
  height:130px;padding:10px;
}
#siteHead{
  display:inline-block;
  color:white;
  font-size:0.8em
}
.nav-link{
  color:white;font-weight: 500
}
.nav-link:hover{
  color:rgb(117, 165, 255)
}
.intro, .intro .logo{
  text-align: center;
}
.card-div{
  width:100%;
}
.card .row{
  padding:30px;
}
.tags{
  padding:20px;
}
.adDiv{
  width:100%
}
.adDiv{
  padding:10px;
}
.tag-badge{
  color: #242321;
  background: #fff;
  font-size: 13px !important;
  padding: 3px 8px;
text-transform: lowercase;
margin: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
margin-bottom: 3px;
margin-left: 0;
display: inline-block;
}
.tag-head{
  background-color: #a4afc7;
  padding:8px 3px;
  text-align: center;font-weight: 600;
}
.card { 

  border: .3px solid rgb(16, 17, 26);
  border-left:none;border-right:none;
  position: relative;
  padding: 5px;

}
@media(min-width:900px){
  .card .row{
    padding:0;
  }
  .logo{
    display:inline-block;text-align:auto
     
  }
  .nav{
    display:inline-block; padding:10px 50px 10px 0;flex:1;
    position: absolute;right:0;
  }
 .nav-item{
   margin:0 20px
 }
  #siteHead, .nav-link{
   font-size: 1.2em
  }
  .card-div{
    width:60%;
    padding:10px 12px 0 0 
  }
  .card{
    
    background-color: inherit;
  
    position: relative;
    
  }
  .card-bod{
    display:block;
   
   
  }
 .adDiv{
   width:30%;
 
 }

}

.card:hover{
  border:1px solid #000
}